:root {
    color-scheme: light dark;

    --font: system-ui;
    --accent: #ff732e;

    --grey: light-dark(#666, #aaa);
    --bg: light-dark(#fff, #222);
    --text: light-dark(#222, #ccc);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font);
    width: 88dvw;
    max-width: 48rem;
    margin: auto;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    color: var(--text);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    opacity: 1;
    visibility: visible;
    transition:
        opacity 1s,
        visibility 1s,
        color 0.25s;

    &:hover {
        color: var(--accent);
    }

    @starting-style {
        opacity: 0;
        visibility: hidden;
    }

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: start;
    }
}

.dim {
    color: var(--grey);
    font-size: 0.75rem;
}

hr {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
    background-color: var(--grey);
    width: 100%;
    border: none;
    border-radius: 1rem;
    height: 0.1rem;
    margin: 0;

    @starting-style {
        opacity: 0;
        visibility: hidden;
    }
}
